body{
  background-color: rgba(225, 225, 225, 0.1);
  margin: 0;
}

.titulo{
  padding-top: 10px;
  text-align: center;
}

.butons{
text-align: center;
}

.centralizador{
  text-align: center;
  vertical-align: middle;
}
